@model IEnumerable<Idea>
@*IdeaListVC*@
<style>
    #ViewDetailsBtn:hover{
        background-color:#fb246a;
        color:white !important;
    }
</style>
@foreach(var record in Model){
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="@record.PhotoFilePath" width="200" height="200" class="card-img " style="object-fit:cover;" alt="@record.IdeaName">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">@record.IdeaName</h5>
                                <p class="card-text">@record.IdeaDescription</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <ul class="list-unstyled mb-0">
                                        <li><i>Total Budget: @record.Budget.BudgetAmount</i></li>
                                        <li><i>Max. Investment: @record.Budget.MaximumInvestmentLimit</i></li>
                                        <li><i>Min. Investment: @record.Budget.MinimumInvestmentLimit</i></li>
                                    </ul>
                                    <a asp-route-id="@record.IdeaID" asp-action="ViewDetails" id="ViewDetailsBtn" style="border:1px solid #fb246a; padding:12px 30px; color:#fb246a;">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
