@model IEnumerable<Idea>
@{
    ViewBag.Title = "USER | IDEA";
}
@if (TempData["WorkProgressStatus"] != null){
    <div class="alert alert-success text-center"><b>@TempData["WorkProgressStatus"]</b></div>
}

@if (TempData["WorkClosureStatus"] != null){
    <div class="alert alert-success text-center"><b>@TempData["WorkClosureStatus"]</b></div>
}

@if (TempData["WorkProgressUpdate"] != null)
{
    <div class="alert alert-success text-center fw-bold">@TempData["WorkProgressUpdate"]</div>
}


<div class="nav-align-top mb-4">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true">
                In-Progress
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false" tabindex="-1">
                Closed
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="navs-top-home" role="tabpanel">
            @await Component.InvokeAsync("InProgressIdeasVC")
        </div>
        <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
            @await Component.InvokeAsync("ClosedIdeasVC")
        </div>
    </div>
</div>


<div class="card">
    <h5 class="card-header">Ideas List</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="7"><a class="btn btn-primary btn-sm" asp-action="Create" asp-controller="Idea">CREATE</a></th>
                </tr>
                <tr>
                    <th>Sr.No</th>
                    <th>Idea Name</th>
                    <th>Sub Category</th>
                    <th>Budget Amount</th>
                    <th>Edit / Details / Delete</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int srno = 1;
                }
                @foreach (var temp in Model)
                {
                    <tr>
                        <td>@srno</td>
                        <td>@temp.IdeaName</td>
                        <td>@temp.SubCategory.SubCategoryName</td>
                        <td>@temp.Budget.BudgetAmount</td>
                        <td colspan="5">
                            <a class="btn btn-outline-primary btn-sm" asp-action="Upload" asp-route-id="@temp.IdeaID">Upload</a>
                            |
                            <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-route-id="@temp.IdeaID">Edit</a>
                            |
                            <a class="btn btn-outline-warning btn-sm" asp-action="UpdateProgress" asp-route-id="@temp.IdeaID">Update Progress</a>
                            |
                            <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@temp.IdeaID">Details</a>
                            |
                            <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@temp.IdeaID">Delete</a>
                        </td>
                    </tr>
                    srno++;
                }
            </tbody>
        </table>
    </div>
</div>
