@* Closed Ideas VC *@
@model IEnumerable<WorkProgress>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Idea Name</th>
            <th>Start Date</th>
            <th>Ex. Completion Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int srno = 1;
            string previousIdeaName = null;
        }
        @foreach (var temp in Model)
        {
            if (temp.Idea.IdeaName != previousIdeaName)
            {
                <tr>
                    <th>@srno</th>
                    <td>@temp.Idea.IdeaName</td>
                    <td>@temp.StartDate.ToString("dd-MM-yyyy")</td>
                    <td>@temp.ExpectedCompletionDate.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a class="btn btn-danger btn-sm" asp-action="ClosureViewDetails" asp-route-id="@temp.IdeaID">View Details</a>
                    </td>
                </tr>
                previousIdeaName = temp.Idea.IdeaName;
            }

            srno++;
        }
    </tbody>
</table>
