@model IEnumerable<SubCategory>
@{
    ViewBag.Title = "ADMIN | SUB CATEGORY";
    ViewBag.MainState = "active";
    ViewBag.SubCategoryState = "active";
}

@if (TempData["SubCategoryAlreadyExists"] != null)
{
    <div class="alert alert-danger fw-bold text-center">@TempData["SubCategoryAlreadyExists"]</div>
}

@if (TempData["SubCategoryAddedSuccessfully"] != null)
{
    <div class="alert alert-success fw-bold text-center">@TempData["SubCategoryAddedSuccessfully"]</div>
}

@if (TempData["SubCategoryDeleted"] != null)
{
    <div class="alert alert-danger fw-bold text-center">@TempData["SubCategoryDeleted"]</div>
}
@if (TempData["SubCategoryUpdated"] != null)
{
    <div class="alert alert-success fw-bold text-center">@TempData["SubCategoryUpdated"]</div>
}

<div class="card">
    <h5 class="card-header">Sub Category List</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4"><a class="btn btn-primary btn-sm" asp-action="Create" asp-controller="SubCategory">CREATE</a></th>
                </tr>
                <tr>
                    <th>Sr.No</th>
                    <th>Sub Category Name</th>
                    <th>Category Name</th>
                    <th>Edit/ Delete</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int srno = 1;
                }
                @foreach (var temp in Model)
                {
                    <tr>
                        <td>@srno</td>
                        <td>@temp.SubCategoryName</td>
                        <td>@temp.Category.CategoryName</td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@temp.SubCategoryID">Edit</a>
                            |
                            <a class="btn btn-outline-primary btn-sm" asp-action="Delete" asp-route-id="@temp.SubCategoryID">Delete</a>
                        </td>
                    </tr>
                    srno++;
                }
            </tbody>
        </table>
    </div>
</div>


