@model Idea
@{
    ViewBag.Title = "USER | IDEA DETAILS";
}
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Idea Details</h5>

                <table class="table table-stripped col-md-6">
                    <tr>
                        <td><b><label class="form-label-lg" asp-for="IdeaName"></label></b></td>
                        <td> <label>@Html.DisplayFor(p=>p.IdeaName)</label></td>
                    </tr>

                    <tr>
                        <td><b><label class="form-label-lg" asp-for="SubCategory.Category.CategoryName"></label></b></td>
                        <td><label>@Html.DisplayFor(p=>p.SubCategory.Category.CategoryName)</label></td>
                    </tr>

                    <tr>
                        <td><b><label class="form-label-lg" asp-for="SubCategory.SubCategoryName"></label></b></td>
                        <td><label>@Html.DisplayFor(p=>p.SubCategory.SubCategoryName)</label></td>
                    </tr>

                    <tr>
                        <td><b><label class="form-label-lg" asp-for="Budget.BudgetAmount"></label></b></td>
                        <td><label>@Html.DisplayFor(p=>p.Budget.BudgetAmount)</label></td>
                    </tr>

                    <tr>
                        <td><b><label class="form-label-lg" asp-for="Budget.MaximumInvestmentLimit"></label></b></td>
                        <td><label>@Html.DisplayFor(p=>p.Budget.MaximumInvestmentLimit)</label></td>
                    </tr>

                    <tr>
                        <td><b><label class="form-label-lg" asp-for="Budget.MinimumInvestmentLimit"></label></b></td>
                        <td><label>@Html.DisplayFor(p=>p.Budget.MinimumInvestmentLimit)</label></td>
                    </tr>

                </table>

                <div>
                    <a class="btn btn-primary btn-sm mt-4" asp-action="Index" asp-controller="Idea" asp-area="UserArea">Back</a>
                </div>
        </div>
    </div>
</div>
