@model IEnumerable<TotalInvestmentDetailsVM>

<div class="w-75 mx-auto">
    <a class="btn btn-primary btn-sm mb-3" asp-action="Index">Back</a>
</div>
<div class="card w-75 mx-auto">
    <div class="card-body">
        <div class="table-responsive text-nowrap">

            <table class="table table-bordered">
                <thead valign="middle">
                    <tr style="border-style:none;">
                        <th class="border-0">
                            <h6 class="text-dark fw-bold">Date : @DateTime.Now.ToString("dd-MM-yyyy")</h6>
                        </th>
                        <th class="border-0"></th>
                        <th class="border-0">
                            <h6 class="text-dark fw-bold">Idea Name : @Model.FirstOrDefault().IdeaName</h6>
                        </th>
                    </tr>
                    <tr>
                        <th><b>Sr.No</b></th>
                        <th><b>Investor Name</b></th>
                        <th><b>Total Amount</b></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int srno = 1;
                        decimal TotalAmount = 0;
                    }

                    @foreach (var temp in Model)
                    {
                        <tr>
                            <td>@srno</td>
                            <td>@temp.FullName</td>
                            <td>@temp.TotalInvAmount</td>
                        </tr>
                        srno++;
                        TotalAmount = TotalAmount + temp.TotalInvAmount;
                    }

                    <tr>
                        <td></td>
                        <td class="text-dark"><b>Total</b></td>
                        <td class="text-dark"><b>@TotalAmount</b></td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-4 text-center">
                <a class="btn btn-primary btn-sm mb-3" asp-action="">Print</a>
            </div>
        </div>
    </div>
</div>