@model IEnumerable<TotalInvestmentDetailsVM>

@*Total Investment Details VC*@

<div class="col-lg-12">
    <button class="accordion" style="color:#1f2b7b"><b>Investment Details</b></button>
    <div class="panel mt-1">
        <div class="row">
            @{
                decimal TotalAmount = 0;
            }
            @foreach (var temp in Model)
            {
                <div class="card col-6 shadow-none bg-transparent  mb-3 mt-3">
                    <div class="card-body border border-secondary">
                        <table class="table  table-striped">
                            <tr>
                                <th><b>Full Name</b></th>
                                <td>@Html.DisplayFor(p=>temp.FullName)</td>
                            </tr>

                            <tr>
                                <th><b>Investor Mobile Number</b></th>
                                <td>@Html.DisplayFor(p=>temp.InvestorMobile)</td>
                            </tr>

                            <tr>
                                <th><b>Investor Email</b></th>
                                <td>@Html.DisplayFor(p=>temp.InvestorEmail)</td>
                            </tr>

                            <tr>
                                <th><b>City Name</b></th>
                                <td>@Html.DisplayFor(p=>temp.CityName)</td>
                            </tr>

                            <tr>
                                <th><b>Payment Amount</b></th>
                                <td>@Html.DisplayFor(p=>temp.PaymentAmount)</td>
                            </tr>

                            <tr>
                                <th><b>Payment Date</b></th>
                                <td>@temp.PaymentDate.ToString("dd-MM-yyyy")</td>
                            </tr>

                            <tr>
                                <th><b>Payment Mode</b></th>
                                <td>@Enum.GetName(typeof(PaymentMode),temp.PaymentMode)</td>
                            </tr>
                        </table>
                    </div>
                </div>

                TotalAmount = TotalAmount + temp.PaymentAmount;
            }

            <div class="row justify-content-evenly">

                <div class="card col-12 shadow-none bg-transparent border border-secondary mb-3 mt-3">
                    <div class="card-body">
                        <label class="text-warning fw-bold">Total Investment Amount : @TotalAmount</label>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
