@model IEnumerable<WorkProgressClosureVM>
<link href="~/frontend/assets/css/blinker.css" rel="stylesheet" />
<div class="col-lg-12">
    <a class="btn btn-primary btn-sm mb-3" asp-action="Index">Back</a>
    <div class="card p-4" id="WorkClosure" style="display:none; @ViewBag.WorkClosureStatus">
        <div class="alert alert-danger fw-bold text-center Blinker">Work Closed</div>
        @foreach (var record in Model)
        {
            <div class="card shadow-none bg-transparent border border-secondary mb-3 mt-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label class="text-info"><b>Closure Date : </b>@record.ClosureDate.ToString("dd-MM-yyyy")</label>
                        </div>
                    </div>

                    <label class="card-text">
                        <b>Closure Status : </b>
                        <br>@record.ClosureStatus
                    </label>
                </div>
            </div>
        }
    </div>

    <div class="card p-4 w-100" id="WorkInProgress" style="display:none; @ViewBag.WorkInProgress">
        <div class="table-responsive text-nowrap">
            <div class="alert alert-success fw-bold text-center Blinker">Work In Progress</div>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>Expected Completion Date</th>
                        <th>Current Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model)
                    {
                        <tr>
                            <td>@record.StartDate.ToString("dd-MM-yyyy")</td>
                            <td>@record.ExpectedCompletionDate.ToString("dd-MM-yyyy")</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalCenter_@record.WorkProgressID">
                                    Current Status
                                </button>

                                <div class="modal fade" id="modalCenter_@record.WorkProgressID" tabindex="-1" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modalCenterTitle">Current Status</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p class="modal-title text-wrap" id="modalCenterTitle">@record.CurrentStatus</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
